<!DOCTYPE html>
<html>
<head>
  <title>Foremost Barber Shop - Grand Rapids, MI - (616) 458-1313</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
